.header_div{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    background-image:url('header_final.jpg');
    margin-top: 0px;
    background-repeat:no-repeat;
    background-size: 100%;
    box-shadow: 5px 5px 5px white;
    border-bottom: 2px solid whitesmoke;
    color: black;
}
.header_div span{
    color: red;
    font-size: 13px;
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 10px white;
    color: black;
    background-image: url('footer_bg.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
}
canvas{
    box-shadow: 5px 5px 5px 20px white;
    border: 2px solid white;
    border-radius: 20px;
}
